* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #00c6ff, #0072ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
}

.todo-app {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.todo-app h2 {
    text-align: center;
    margin-bottom: 20px;
}

.row {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.row input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.row button {
    padding: 10px 15px;
    border: none;
    background: #0072ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.row button:hover {
    background: #005cd1;
}

ul li {
    list-style: none;
    padding: 12px;
    margin-bottom: 10px;
    background: #f0f8ff;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

ul li.checked {
    text-decoration: line-through;
    color: gray;
    background: #d3e3fc;
}
ul li span {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 20px;
    cursor: pointer;
    color: red;
}
